<template>
  <FormLayout>
    <Form1 class="mr-5"
           :profile_id="id" />
    <Form2 :profile_id="id" />
  </FormLayout>

</template>

<script>
import FormLayout from '@/layouts/l-form';
import Form1 from '@/components/form/Form1';
import Form2 from '@/components/form/Form2';

export default {
  name: 'Forms',
  data() {
    return {
    };
  },
  computed: {
    id() {
      const id = this.$route.params.profileID;
      if (id) {
        return id;
      }
      return Date.now();
    },
  },
  components: {
    FormLayout,
    Form1,
    Form2,
  },
};
</script>

<style lang="scss">
.form {
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0px 0px 3px rgb(102, 102, 102);
  display: flex;
  flex-direction: column;
  width: 450px;
  &_field {
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
      padding-bottom: 8px;
    }
  }
  button {
    border-radius: 5px;
    // font-size: 15px;
    // padding: 5px;
  }
  .err {
    color: red;
    font-size: 11px;
    padding: 8px;
  }
  div {
    display: flex;
    margin: 12px 0 12px 0;
    justify-content: space-between;
    input {
      border: transparent;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0px 0px 3px rgb(102, 102, 102);
    }
    input[type="radio"] {
      box-shadow: none;
    }
    input[type="checkbox"] {
      box-shadow: transparent;
    }
  }
}
</style>
