<template>
  <div>
    {{state}}
  </div>

</template>

<script>

export default {
  name: 'FormValues',
  computed: {
    state() {
      return this.$store.getters.get_state;
    },
  },
};
</script>
