<template>
  <form class="form"
        @submit.prevent="saveToStore">
    <!-- {{form}} -->
    <!-- {{jane}} -->
    <span class="ml-auto">
      ID-{{profile_id}}
    </span>
    <br>
    <div v-for="(field,index) in formFields"
         :key="index">
      <label>{{field.label}}</label>
      <input :type="field.type"
             :value="form[field.type]"
             :name="field.type"
             @input="(e)=>change(field.type, e.target.value)">

    </div>

    <div class="form_field">
      <label>Password</label>

      <input v-validate="'required|alpha'"
             name="password"
             v-model.lazy="form.password"
             type="password"
             ref="password">
      <span v-if="errors.has('password')"
            class="err">
        {{ errors.first('password') }}
      </span>
    </div>
    <div class="form_field">
      <label>Password confirmation</label>

      <input v-validate="'required|confirmed:password'"
             name="password_confirmation"
             type="password"
             data-vv-as="password">
      <span v-if="errors.has('password_confirmation')"
            class="err">
        {{ errors.first('password_confirmation') }}
      </span>
    </div>

    <div>
      <label>Country</label>
      <select v-model="form.country">
        <option v-for="country in countries"
                :value="country"
                :key="country">{{country}}</option>
      </select>

    </div>
    <div>
      <label>
        <input type="checkbox"
               v-model="check"
               name="terms"
               v-validate="'required'"
               value="terms">
        I agree to the <a href="/terms">terms and conditions</a>
        <span class="err"
              v-if="errors.has('terms')">{{ errors.first('terms') }}</span>
      </label>
    </div>
    <div>
      <button>
        Finish
      </button>
    </div>
  </form>

</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Forms',
  props: ['profile_id'],
  data() {
    return {
      form: {
        email: '',
        tel: '',
        password: '',
        country: 'Germany',
      },
      countries: [
        'Canada',
        'France',
        'Germany',
        'Italy',
        'Japan',
        'Russia',
        'United Kingdom',
        'United States',
      ],
      formFields: [
        {
          label: 'Email',
          type: 'email',
          value: '',
        },
        {
          label: 'Phone number',
          type: 'tel',
          value: '',
        }],
      check: false,
    };
  },
  created() {
    const profile = this.$store.getters.get_profile(this.profile_id);
    if (profile) {
      this.form = { ...this.form, ...profile.data };
    }
  },
  computed: {
    ...mapGetters({
      jane: 'get_jane_doe',
    }),
  },
  methods: {
    checkboxValue() {
      const country = this.countries.find(c => c === this.form.country);
      if (!country) {
        this.form.country = this.countries[0];
      }
      return this.form.country;
    },
    change(key, value) {
      this.form[key] = value;
    },
    saveToStore(e) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.dispatch('set_profile', { id: this.profile_id, data: this.form });
          return;
        }
        // eslint-disable-next-line no-alert
        alert('Correct them errors!');
      });
    },
  },
};
</script>
