<template>
  <form class="form"
        @submit.prevent="saveToStore">
    <!-- {{form}} -->
    <span class="ml-auto">
      ID-{{profile_id}}
    </span>
    <br>
    <div class="d-flex flex-row">
      <label>Title</label>
      <label v-for="title in titles"
             :key="title">
        <input type="radio"
               name="title"
               :id="title"
               v-model="form.title"
               :value="title">
        {{title}}
      </label>
    </div>
    <div v-for="item in names"
         :key="item.key"
         class="form_field">
      <label>{{item.title}}</label>
      <input type="text"
             v-validate="'required|alpha'"
             :name="item.key"
             :value="form[item.key]"
             @input="(e)=>change(item.key, e.target.value)">
      <!-- <br> -->
      <span v-if="errors.has(item.key)"
            class="err">{{ item.title }} is required</span>

    </div>
    <div>
      <button>
        Save
      </button>
    </div>
  </form>

</template>

<script>

export default {
  name: 'Form1',
  props: ['profile_id'],
  data() {
    return {
      form: {
        title: 'Mr',
        first_name: '',
        last_name: '',
      },
      titles: [
        'Mr',
        'Mrs',
        'Miss',
      ],
      names: [
        { title: 'First name', key: 'first_name' },
        { title: 'Last name', key: 'last_name' },
      ],
    };
  },
  created() {
    const profile = this.$store.getters.get_profile(this.profile_id);
    if (profile) {
      this.form = { ...this.form, ...profile.data };
    }
  },
  methods: {
    change(key, value) {
      this.form[key] = value;
    },
    saveToStore(e) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.dispatch('set_profile', { id: this.profile_id, data: this.form });
          return;
        }
        alert('Correct them errors!');
      });
    },
  },
};
</script>
