<template>
  <div>
    Visitor clicked {{clickCount}} times</div>
</template>

<script>
// Import the EventBus we just created.
import { EventBus } from './index';

export default {
  data() {
    return {
      clickCount: 0,
    };
  },
  created() {
    EventBus.$on('ev-click', (date) => {
      // eslint-disable-next-line no-plusplus
      this.clickCount++;
      // eslint-disable-next-line no-console
    });
  },


};
</script>
