<template>
  <div class="door-knock">
    <button @click="emitGlobalClickEvent()"> clickMe</button></div>
</template>

<script>
// Import the EventBus we just created.
import { EventBus } from './index';

export default {
  data() {
    return {
      // clickCount: 0,
    };
  },

  methods: {
    emitGlobalClickEvent() {
      EventBus.$emit('ev-click', new Date());
    },
  },
};
</script>
