@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

a:hover {
    color: orange
}

html,
body {
    margin: 0;
    font-family: 'Roboto Mono', serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.5s;
    max-height: 250px;
}

.fadeHeight-enter,
.fadeHeight-leave-to {
    opacity: 0;
    max-height: 0px;
}

.back {
    background-color: aqua;
}

.rounded {
    border-radius: 5px;
}

.t1 {
    transition: 0.5s;
}

.t5 {
    transition: 0.5s;
}

.l-right,
.l-left,
.l-default {
    &__nav {
        padding: 15px;
        border-bottom: solid 1px black;
    }
    &__main {
        margin: 25px 25px 150px 25px
    }
    &__footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px;
        background: white;
        border-top: solid 1px black;
    }
}

.l-default {
    text-align: center;
}

.l-left {
    text-align: left;
}

.l-right {
    text-align: right;
}