<template>

  <position-menu>
    <template slot="menu_right">

      <g-btn v-for="(name,index) in componentNames"
             @click.native="setActive(name)"
             :active="active.name === name"
             :text="name"
             :big="true"
             :key=index></g-btn>
    </template>

    <span v-if="inputVal">
      <span style="color:green">
        {{inputVal}}
      </span>
    </span>
    <g-title :title="active.name" />
    <!-- <transition name="fade"
                mode="out-in"> -->
    <!-- <keep-alive> -->
    <component :is="active.component"
               @inputChange="(e)=>inputVal = e"
               @onDeliberatelyEmmitedClick="(v)=>console(v)" />
    <!-- </keep-alive> -->
    <!-- </transition> -->

    <!-- <component v-for="(item,key, index) in allComponents"
               :is="item"
               :key="index">
    </component> -->

  </position-menu>

</template>

<script>
import essentials from '@/components/essentials';
import positionMenu from '@/layouts/l-menu-left-right';

// import Layout from '../layouts/Layout';

export default {
  name: 'Essentials',
  data() {
    return {
      active: {
        name: 'expressions',
        component: essentials.expressions,
      },
      inputVal: '',
    };
  },
  components: {
    positionMenu,
  },
  methods: {
    setActive(name) {
      this.active = {
        name,
        component: essentials[name],
      };
    },
    console(v) {
      console.log('ClickReceivedOnParent', v);
    },
  },
  computed: {
    componentNames() {
      return Object.keys(essentials);
    },
    // allComponents() {
    //   return essentials;
    // },
  },
};
</script>

<style scoped lang="scss">
</style>
