<template>

  <div>

    <door />
    <visitor />

  </div>

</template>

<script>
import door from '@/components/eventBus/eb-door';
import visitor from '@/components/eventBus/eb-visitor';

export default {
  name: 'Forms',
  data() {
    return {
    };
  },
  components: {
    door,
    visitor,
  },
};
</script>

<style scoped lang="scss">
button {
}
</style>
