<template>
  <div>
    <CreateUpdateProfile />
    <!-- <FormValues /> -->
  </div>
</template>

<script>
import CreateUpdateProfile from '@/components/form/CreateUpdateProfile';
import FormValues from '@/components/form/FormValues';

export default {
  name: 'Forms',
  data() {
    return {
    };
  },
  components: {
    CreateUpdateProfile,
    // FormValues,
  },
};
</script>
