<template>
  <div class="home">

    <portal-target name="links"
                   class="home-nav" />

  </div>
</template>

<script>

export default {
  name: 'home',
  created() {
    console.log(this);
    console.log(process.env);
  },
};
</script>

<style lang="scss">
.home-nav {
  font-size: 30px;
  div {
    display: flex;
    flex-direction: column;
  }
}
</style>
