<template>
  <div>
    <div :style="back"
         class="mb-4 pr-4">
      ID-{{$route.params.profileID}}
    </div>
    <CreateUpdateProfile />
  </div>
</template>

<script>
import CreateUpdateProfile from '@/components/form/CreateUpdateProfile';

export default {
  name: 'profile',
  computed: {
    back() {
      // console.log(this.$route);
      return `background: ${this.$route.query.background}`;
    },
  },
  components: {
    CreateUpdateProfile,
  },
};

</script>
