<template>
  <div>

    <portal to="links">
      <div slot-scope="{title}">
        {{title}}
        <router-link to="/">home</router-link> |
        <router-link :to="{path:'/essentials'}">essentials</router-link> |
        <router-link :to="{name:'Forms'}">forms</router-link> |
        <router-link :to="{
          name: 'Profile',
          params:{ profileID:1 },
          query:{ background:randomColor}
          }">profile</router-link>
      </div>

    </portal>
    <component :is="component">

      <transition name="fade"
                  mode="out-in">
        <router-view />
      </transition>

    </component>

  </div>
</template>

<script>
import layouts from '@/layouts';


export default {
  name: 'App',
  computed: {
    component() {
      if (!layouts[this.$route.meta.layout]) {
        return layouts['nav-default'];
      }
      return layouts[this.$route.meta.layout];
    },
    randomColor() {
      return `#${Math.floor(Math.random() * 16777215).toString(16)}`;
    },
  },
};
</script>

<style lang="scss">
a {
  color: black;
}
.router-link-exact-active {
  font-size: 25px;
  padding: 15px;
  color: orange;
}
</style>
