<template>
  <div>

    <div class="boxes-class">

      <div :class="{ circle: n===1 }">
      </div>

      <div :class="['big', { circle: n!==1, orange: n !== 1} ]">
      </div>

    </div>

    <div class="boxes-styles">

      <div :style="blueCircle">
      </div>

      <div :style="['border-radius: 20px', randomBackground]">
      </div>

    </div>

    <g-two-btns :n="n"
                @click="(newValue)=>n=newValue" />

  </div>
</template>

<script>

export default {
  name: 'e-binding-class-style',
  data() {
    return {
      n: 0,
      blueCircle: {
        'border-radius': '50%',
        background: 'blue',
      },
      randomBackground: {
        background: 'red',
      },
    };
  },
  watch: {
    n() {
      this.randomBackground.background = `#${Math.floor(Math.random() * 16777215).toString(16)}`;
    },
  },
};
</script>

<style scoped lang="scss">
.boxes-class {
  div {
    transition: 1s;
    background: black;
    height: 200px;
    width: 200px;
    margin: 5px;
  }
}
.boxes-styles {
  div {
    transition: 1s;
    background: rgb(76, 109, 71);
    height: 50px;
    width: 200px;
    margin: 5px;
  }
}
.big {
  height: 250px !important;
  width: 250px !important;
}
.small {
  height: 25px !important;
  width: 50px !important;
}
.circle {
  border-radius: 50%;
}
.rounded {
  border-radius: 20px !important;
}
.orange {
  background: orange !important;
}
</style>
