<template>
  <div>
    <span>{{n}}</span>
    <br>
    <div v-if="n===0">v-if</div>
    <div v-else-if="n>=1&&n<3">v-else-if</div>
    <div v-else>v-else</div>

    <div v-show="n===4">v-show</div>

    <g-two-btns :n="n"
                @click="(newValue)=>n=newValue" />

  </div>

</template>

<script>

export default {
  name: 'conditional-rendering',
  data() {
    return {
      n: 0,
    };
  },
};
</script>

<style scoped lang="scss">
</style>
