<template>
  <div>
    <div class="main circled"
         tabindex="0"
         v-on="listeners"
         v-cd_focus>
      <!-- @keydown.enter="onEnterParent" -->

      <div class="inner ml-auto"
           tabindex="0"
           v-on:keydown.enter.stop="onEnterInner"></div>
      <!-- .prevent -->
      <div class="deliberate mt-2"
           v-cd_background="'black'"
           @click="(e)=>$emit('onDeliberatelyEmmitedClick', e)"></div>

    </div>
  </div>

</template>

<script>

export default {
  name: 'e-events-custom-events',
  data() {
    return {
      localOn: this.$on,
      listeners: {
        click: this.actionFn,
        keyup: this.actionFn,
        scroll: this.actionFn,
      },
    };
  },
  methods: {
    actionFn(e) {
      console.log('actionFn', e);
    },
    onEnterParent(e) {
      console.log('onEnterParent', e);
    },
    onEnterInner(e) {
      console.log('onEnterInner', e);
    },
  },
  computed: {
  },
  watch: {
    localOn(on) {
      console.log('this.$on', on);
    },
  },
};
</script>

<style scoped lang="scss">
.main {
  height: 455px;
  width: 355px;
  background: rgb(246, 143, 143);
  overflow: auto;
}

.inner {
  height: 400px;
  width: 200px;
  background-color: white;
  background-image: radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(
      midnightblue 0,
      midnightblue 4px,
      transparent 5px,
      transparent 20px,
      midnightblue 21px,
      midnightblue 25px,
      transparent 26px,
      transparent 50px
    );
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}
.deliberate {
  width: 100%;
  height: 155px;
  // background: rgb(59, 36, 141);
}
</style>
