<template>
  <div>
    <p>{{ name }}</p>

    <p>{{ name | fm_upprecase }}</p>
    <p>{{ name | fm_lowercase | capitalize}}</p>

    <p>{{ mm_getCharCodes(name) }}</p>
    <p>{{ mm_getCharCodes(name) | stringFromArrNum }}</p>

    <span v-html="rawHtml"></span>

    <br>

    <button v-on:click="shuffle">mix it!</button>

  </div>
</template>

<script>
import filtersMixin from '@/mixins/essentials/filtersMixin';
import methodsMixin from '@/mixins/essentials/methodsMixin';

export default {
  name: 'e-expressions',
  mixins: [
    filtersMixin,
    methodsMixin,
  ],
  data() {
    return {
      name: 'aBcDeFg',
      rawHtml: '<strong>RAW-HTML</strong>',
    };
  },
  filters: {
    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    stringFromArrNum(arr) {
      return String.fromCharCode(...arr);
    },
  },
  methods: {
    shuffle() {
      this.name = this.name.split('').sort(() => 0.5 - Math.random()).join('');
    },
  },

};
</script>
