<template>
  <div class="">

    <transition-group tag="ul"
                      name="fadeHeight"
                      mode="in-out">
      <li v-for="(item,index) in arr"
          v-if="index!==n"
          :key="'a'+index">{{item}}</li>
    </transition-group>

    <ul>
      <li v-for="(item,index) in computedArr"
          :key="'ca'+index">{{item}}</li>
    </ul>

    <ul>
      <!-- {{arrObj}} -->
      <li v-for="(item,key,index) in arrObj"
          :key="'obj'+index">{{key}}:{{item}}</li>
    </ul>

    <g-two-btns :n="n"
                @click="(newValue)=>n=newValue" />

  </div>

</template>

<script>

export default {
  name: 'directives',
  data() {
    return {
      n: 0,
      arr: ['Banana', 'Orange', 'Apple', 'Mango'],
    };
  },
  computed: {
    arrObj() {
      return { ...this.arr };
    },
    computedArr() {
      return this.arr.filter((i, index) => this.n === index);
    },
  },
};
</script>
