<template>
  <div class="hello">
    {{ property }}
    <br>
    {{message}}
    <br>
    <div ref="n-number"></div>
    {{n}}
  </div>
</template>

<script>
import EventBus from '@/components/eventBus';
import { setInterval } from 'timers';

export default {
  name: 'e-hooks',
  data() {
    return {
      property: '',
      n: 0,
      message: 'Hello',
    };
  },
  beforeCreate() {
    console.log('Nothing gets called before me!');
  },
  created() {
    this.updateProperty();
    setInterval(() => {
      if (this.n < 3) {
        // eslint-disable-next-line no-plusplus
        this.n++;
      }
    }, 1000);
  },
  beforeMount() {
    console.log('this.$el doesn\'t exist yet, but it will soon!');
  },
  mounted() {
    console.log(this.$el);
    // https://jsfiddle.net/prashantpalikhe/50wL7mdz/80945/
    // nextTick allows you to do something
    // after you have changed the data and VueJS has updated the DOM based on your data change,
    // but before the browser has rendered those changed on the page.
    // this.message = 'I should NOT be rendered!';
    // this.$nextTick(() => {
    //   this.message = 'I should be rendered';
    // });
    // setTimeout(() => {
    //   this.message = 'I should be rendered';
    // }, 0);
  },
  beforeUpdate() {
    console.log(this.n, 'before DOM update');
  },
  updated() {
    // Fired every second, should always be true
    console.log(this.$refs['n-number'], 'updated');
  },
  beforeDestroy() {
    // Perform the teardown procedure
  },
  destroyed() {
    EventBus.$emit('lightItUp');
  },
  methods: {
    updateProperty() {
      this.property = 'Example property update.';
    },
  },
  computed: {
    propertyComputed() {
      console.log('I change when this.property changes.');
      return this.property;
    },
  },
  watch: {
    property: {
      immediate: true,
      handler: 'updateProperty',
    },
  },
};
</script>
