<template>
  <g-btn :icon="'mdi-music-circle'"
         :number="n"
         someUnknownAtribute="someUnknownAtribute">

    <template slot="big-text">big-text</template>

    <div slot="odd-or-even"
         slot-scope="sProps">
      number is: <strong> {{ sProps.oddOrEven }}
        <!-- {{sProps}} -->
      </strong>
    </div>

    <g-two-btns :n="n"
                @click="(newValue)=>n=newValue" />

  </g-btn>
</template>

<script>

export default {
  name: 'e-slots',
  data() {
    return {
      n: 0,
    };
  },
  methods: {
  },
  computed: {
  },
};
</script>

<style scoped lang="scss">
</style>
