<template>
  <div class="">
    <input type="text"
           v-model="inputComputed">
    <br>
    {{inputComputed}}
    <br>
    <input type="text"
           :value="inputComputed"
           @input="(e)=>inputComputed=e.target.value">
    <br>
    <g-input :value="num"
             @input="(v)=>num=v"
             type="number" />
    <br>
    {{num}}
    <br>
    <g-double-input type="number"
                    v-bind.sync="person" />
    {{person.name}} - {{person.color}}

    <br>
    {{computedName}}

  </div>

</template>

<script>

export default {
  name: 'e-v-model-sync',
  data() {
    return {
      num: '',
      gVal: '',
      person: {
        name: 'lada',
        color: 'orange',
      },
    };
  },
  computed: {
    inputComputed: {
      get() {
        return localStorage.getItem('inputComputed');
      },
      set(val) {
        this.$nextTick(() => {
          this.$emit('inputChange', val);
        });
        localStorage.setItem('inputComputed', val);
      },
    },
    computedName() {
      return `${this.person.name}-COMPUTED --- ${this.person.color}-${this.num}`;
    },
  },
};
</script>

<style scoped lang="scss">
</style>
