<template>
  <div class="l-form">
    <nav class="l-form__nav">

    </nav>
    <main class="l-form__main d-flex ">
      <slot />
    </main>
    <footer class="l-form__footer">
      <!-- <g-btn> back </g-btn>
      <g-btn> next </g-btn> -->
    </footer>
  </div>
</template>

<script>

export default {
  name: 'l-form',
  props: ['title'],
};
</script>
