<template>
  <div class="d-flex menu">
    <div v-if="$slots.menu_right"
         class="menu_right d-flex flex-column mr-5">
      <slot name="menu_right" />
    </div>
    <div class="content ml-5">
      <slot />
    </div>
    <div v-if="$slots.menu_left"
         class="menu_left d-flex flex-column ml-5">
      <slot name="menu_left" />
    </div>
  </div>
</template>

<style scoped lang="scss">
.menu {
  // width: 400px;
  &_right {
    // height: 100vh;
    // background-color: violet;
  }
  &_left {
    // height: 100vh;
    // background-color: brown;
  }
  &_content {
  }
}
</style>
