<template>
  <div class="l-left">
    <nav class="l-left__nav">

      <portal-target name="links"
                     :slot-props="{title: 'LEFT'}" />
      <transition name="bounce">
        <img v-if="explosion"
             class="fire"
             src="../assets/fire.png"></transition>
    </nav>
    <main class="l-left__main">
      <slot />
    </main>
    <footer class="l-left__footer">
      left__footer
    </footer>
  </div>
</template>

<script>
import { EventBus } from '@/components/eventBus';
import { setTimeout } from 'timers';
// import f from '../assets/fire.png';

export default {
  name: 'nav-left',
  data() {
    return {
      explosion: false,
    };
  },
  created() {
    EventBus.$on('lightItUp', (date) => {
      this.lightItUp();
    });
  },
  methods: {
    lightItUp() {
      // this.explosion = true;
      setTimeout(() => {
        this.explosion = false;
      }, 2000);
    },
  },
};
</script>

<style lang="scss" scoped>
.fire {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  margin: auto;
}
</style>

