<template>
  <div class="l-right">
    <nav class="l-right__nav">

      <portal-target name="links"
                     :slot-props="{title: 'RIGHT'}" />
    </nav>
    <main class="l-right__main">
      <slot />
    </main>
    <footer class="l-right__footer">
      right__footer
    </footer>
  </div>
</template>
