<template>
  <div class="l-default">
    <nav class="l-default__nav">

      <portal-target name="links"
                     :slot-props="{title: 'DEFAULT'}" />

    </nav>
    <main class="l-default__main">
      <slot />
    </main>
    <footer class="l-default__footer">
      default__footer
    </footer>
  </div>
</template>
<script>


export default {
  name: 'layout-default',
  data() {
    return {
      name: 'text',
    };
  },
};
</script>
