<template>
  <div @click="$emit('onClick')"
       @keydown.enter.stop.prevent="$emit('onEnter')"
       :class="[
          'g-btn t1 p-2 rounded',
          { 'g-btn_active': active },
          { 'g-btn_big': big }
          ]">
    <i v-if="icon"
       :style="['mdi',icon]"></i>
    <span v-bind="$attrs">
      {{text}}
    </span>

    <strong>
      <slot name="big-text"></slot>
    </strong>

    <slot name="odd-or-even"
          v-bind="$props"
          :oddOrEven="oddOrEvenComputed"></slot>

    <slot />

  </div>
</template>

<script>

export default {
  name: 'g-btn',
  inheritAttrs: false,
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    big: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: 'button',
    },
    number: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {

    };
  },
  computed: {
    oddOrEvenComputed() {
      return this.number % 2 === 0 ? 'Even' : 'Odd';
    },
  },

};
</script>

<style scoped lang="scss">
@import "@/styles/colors.scss";

.g-btn {
  background: $light;
  box-shadow: 0px 0px 3px $gray;
  padding: 25px !important;
  margin: 5px;
  border: none;
  color: $dark;
  &:focus {
    outline: none;
  }
  &_big {
    font-size: 18px;
  }
  &_active {
    color: $light;
    background: $dark;
  }
  // max-width: 50px;
}
</style>
