<template>
  <form>
    <!-- <input :value="name"
           @input="$emit('update:name', $event.target.value)">
    <input :value="color"
           @input="$emit('update:color', $event.target.value)"> -->
    <input type="text"
           :key="index"
           :value="item"
           v-for="(item,key,index) in $props"
           @input="$emit(`update:${key}`, $event.target.value)">
  </form>
</template>

<script>

export default {
  name: 'g-double-input',
  props: ['name', 'color'],
};
</script>

<style scoped lang="scss">
</style>
