<template>
  <input :type="type"
         :min="min"
         :max="max"
         @input="input"
         :value="value">
</template>

<script>

export default {
  name: 'g-btn',
  props: ['min', 'max', 'value', 'type'],
  methods: {
    input(e) {
      this.$emit('input', e.target.value, e);
    },
  },


};
</script>

<style scoped lang="scss">
</style>
