<template>
  <h1 :class="['g-title',{big:big}]">
    {{localTitle}}
  </h1>
</template>

<script>

export default {
  name: 'g-title',
  props: {
    big: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
  },
  computed: {
    localTitle() {
      return this.title;
      // .substring(2).toUpperCase();
    },
  },

};
</script>

<style scoped lang="scss">
@import "@/styles/colors.scss";

.g-title {
  font-weight: 600;
  font-size: 20px;
  &_big {
    font-size: 24px;
    color: $dark;
  }
}
</style>
