<template>
  <div>
    <button @click="emit(-1)">-</button>
    {{n}}
    <button @click="emit(1)">+</button>
  </div>
</template>

<script>

export default {
  name: 'g-btn',
  props: ['n'],
  methods: {
    emit(v) {
      this.$emit('click', this.n + (v));
    },
  },
};
</script>
